[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchsummary = "*"
matplotlib = "*"
pyqt5 = "==5.15.6"
opencv-python = "*"
numpy = "*"
scikit-learn = "*"
sip = "*" 
pillow = "==8.4.0"

[dev-packages]

[requires]
python_version = "3.9"
